* { box-sizing: border-box; margin: 0; padding: 0; font-family: 'Segoe UI', Roboto, sans-serif; }

body {
    background: url('../../image/Cover.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: rgba(255, 255, 255, 0.95);
    padding: 30px 40px;
    border-radius: 25px;
    width: 400px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.login-logo { 
    display: block;
    width: 100px; 
    margin: 0 auto 0 auto;
    padding: 0;
}

.app-name {
    display: block;
    width: 180px; 
    height: auto;
    margin: -25px auto 20px auto; 
    padding: 0;
}

h2 { 
    color: #1a1a1a; 
    margin-bottom: 4px; 
    font-size: 25px; 
    text-align: left;
    font-weight: 700;
}

.subtitle { 
    color: #666; 
    font-size: 15px; 
    margin-bottom: 30px; 
    text-align: left; 
}

input {
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 18px;
    border: 1.5px solid #e5e7eb;
    border-radius: 12px;
    outline: none;
    font-size: 15px;
    transition: border-color 0.2s;
}

input:focus {
    border-color: #b30000;
}

.btn-auth {
    width: 100%;
    padding: 8px;
    background: #b30000;
    color: white;
    border: none;
    border-radius: 12px;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.1s, background 0.2s;
    font-size: 17px;
    margin-top: 10px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.btn-auth:hover {
    background: #900000;
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
}

.footer-text { 
    margin-top: 25px; 
    font-size: 14px; 
    color: #4b5563; 
    text-align: center; 
}

.footer-text a { 
    color: #b30000; 
    text-decoration: none; 
    font-weight: 700; 
}

.footer-text a:hover {
    text-decoration: underline;
}